<section class="index-page">
  <img class="avatar" src="{{req.user.photos.[0].value}}">
  <h1>Hello {{req.user.displayName}}!</h1>
  <a href="http://localhost:8000/auth/logout">
    Log out
  </a>

</section>